.default-background {
    background: #f3f2f1!important;
}
.light-white{
    background: #fff;
}
.success-background{
    background: rgba(0, 200, 117, 0.1);
}
.success-bright{
    background-color: 4px solid rgb(0, 200, 117);
    border-radius: 20px;
}
.card-style{
    border-radius: 20px;
}
.card-style:hover{
    border: '1px solid blue'
}